.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 16px;
  /* border: solid #000000 0.125rem; */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
